{% load static %}
<!doctype html>
<html lang="th">

<body>

    <!--Header-->
    <div class="sticky-top">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a href="{% url 'post_list' %}">
                    <h1 class="nav-bar">สคริปทำเว็บบล็อคสำหรับอัพเดทบทความ</h1>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto font-weight-bold">

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'post_list' %}">หน้าแรก</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'category' %}">หมวดหมู่บทความ</a>
                        </li>

                         {% if user.is_authenticated %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create_post' %}"> ยินดีต้อนรับคุณ <b>{{ user.username }}</b> เริ่มทำบทความกันเลย!</a>
                        </li>


                        {% else %}

                         <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">เข้าสู่ระบบ</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">สมัครสมาชิก</a>
                        </li>
                        {% endif %}

                    </ul>

                </div>
            </nav>
        </header>
    </div>
    <!--Header-->

    {% block content %} {% endblock %}

    <!-- Footer -->

    <footer>
        <div class="fixed-bottom"></div>
        <div class="container-fluid1" style="height: 80px;">
            <p class="vertical-center text-white h3"> เขียนบล็อกให้สนุก..</p>
        </div>
        </div>
    </footer>

    <!-- Footer -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
    <script src="{% static "blog/static/css/bootstrap.min.css" %}"></script>


</body>

</html>